{% extends "master.html" %}
{% block content %}
    <div id="widgetBox">
		<div class="widgetTitleBox">
		<div class="widgetTitle">Create New Pin:</div>
		</div>
		
		<div class="widgetContentBox">
			<div class="widgetContent">
<!-- 			 {% if imageUrl %}
				<div id="submittedData">    
					<h3>You just entered:</h3>
					<ul>
						<li>Image URL: {{ imageUrl }} </li>
						<li>Caption : {{ caption }} </li>
					</ul>
  				</div>
  			{% endif %} -->
		    	
	    		<form action="/pin" method="POST">
	         	<div><label for="imageUrl">Image URL: </label><input name="imageUrl" type="text" style="width:400px;"></input></div> 
	       		<div><label for="caption">Caption: </label><input name="caption" type="text" style="width:400px;"></input></div>
	       		<div><label for="private">Private: </label>
		       		<select name="private" style="width:200px;">
			       		<option value="1">Private</option>
			       		<option value="0">Public</option>	   
		       		</select>
	       		</div>	    
	       		<div><input type="submit" value="Create" style="width:50%;" class="fancyButton submitButton"></div>
	   			</form>
			</div>
		</div>
	</div>
	
    <div id="widgetBox">
	<div class="widgetTitleBox">
	<div class="widgetTitle">Create New Board:</div>
	</div>	
		<div class="widgetContentBox">
			<div class="widgetContent">
					    	
	    		<form action="/board" method="POST">
	         	<div><label for="name">Name: </label><input name="name" type="text" style="width:400px;"></input></div> 
	       		<div><label for="private">Private: </label>
		       		<select name="private" style="width:200px;">
			       		<option value="1">Private</option>
			       		<option value="0">Public</option>	   
		       		</select>
	       		</div>	    
	       		<div><input type="submit" value="Create" style="width:50%;" class="fancyButton submitButton"></div>
	   			</form>
			</div>
		</div>
		
	 </div>
	 

		<div style="padding-top:15px;" id="bookmarklet">
			Pin with ease with this bookmarklet: <a  value="Pin It" href="javascript:(function(){
			_s = document.createElement('script');
			_s.src = 'http://tsmith14-pinboard.appspot.com/js/bookmarklet.js';
			document.getElementsByTagName('head')[0] = null;
			document.getElementsByTagName('head')[0].appendChild(_s);}())" style= "color: #27C239;">Pin It!</a>
		</div>

   
{% endblock %}