<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="headerContent">
			<div id="logoHolder" style="position:relative; width: 200px;">
				<a href="/" id="homeButton">Pin It!</a>
			</div>
			{% if email %}
			<a href="{{ logoutUrl }}" id="logoutButton" class="button">Logout</a>
			<div id="username">{{ email }}</div>
			<a href= "/pin" id="myNavButton" class="button">My Pins</a>
			<a href= "/board" id="myNavButton" class="button">My Boards</a>
			{% else %}
				<a href="{{ loginUrl }}" id="loginButton" class="button">Login</a>
			{% endif %}

		</div>
	</div>
	
	<div id="content">
	  <div style="position:relative">
		<div id="title">{{ title }}</div>		
		<div class="navHolder">
		 {% block navContent %}{% endblock %}
		</div>
	  </div>
		
		{% block content %}{% endblock %}
		


		
	</div>
	


	<div id="footer">
		<div class="footer-inner">
		 	Copyright © 2012 by <a href="http://tsmith14-pinboard.appspot.com">Tyler Smith</a>
		</div>
	</div>
</div>
</body>

</html>