<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{ title }}</title>
<style>
	#footer
	{
		position:absolute;
		bottom:10px;
		margin-left:0px;
	}
	a
	{
		color: green;
	}
	
</style>
</head>
<body>
    <div id="content">
    {% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2012 by <a href="http://tsmith14-pinboard.appspot.com">Tyler Smith</a>.
        {% endblock %}
    </div>
</body>
</html>