{% extends "master.html" %}
{% block navContent %}
<ul style="" class="navigation-items">
<li><a href="/pin">Return to My Pins</a></li>	
</ul>		
{% endblock %}

{% block content %}
	{% if notFound %}
		<h2>No Pin Found</h2>
	{% else %}
	<div style="height:auto;">
		<div style="margin-left:auto; margin-right: auto; width:60%; height: auto;">
		<div class="pinBox">
			<div class="pin-imageContainer">
				<img class="pin-image" src="{{ pin.imgUrl }}">
			</div>
			<div class="pin-captionBox">
				<div style="">
					<div id="caption" class="pin-caption" style="">{{ pin.caption }}</div>
					<input id="caption-edit" class="pin-caption" style="padding:4px; margin-left:10%; width:80%; display:none; color:#333;" value="{{ pin.caption }}"></input>
				</div>
				{% if isEditable %}
				<script id="ajaxScript" type="text/javascript" src="/js/pinAjax.js" data-url="/pin/{{ pinID }}"></script>
				<div style="margin-left:15px;"><label for="private" style="color:white;">Private: </label>
		       		<select id="private" name="private" style="width:200px;">
			       		<option value="1">Private</option>
			       		<option value="0" {% if not pin.private %} selected {% endif %} >Public</option>	   
		       		</select>
		       	</div>
		       	{% endif %}
		       	<div class="pin-date">{{ pin.date|datetimeformat}}</div>
		       	{% if isEditable %}
		       	<hr/>
	   			<form action="/pin/{{ pinID }}" method="POST">
	       		<input name="method" type="hidden" value="Delete"></input>
	   			<div><input type="submit" value="Delete" class="fancyButton deleteButton"></div>
	   			</form>
				{% endif %}
			</div>
		</div>
		<div id="widgetBox" style="bottom:40px; width:100%;">
		<div class="widgetTitleBox">
		<div class="widgetTitle">Boards:</div>
		</div>
		
		<div class="widgetContentBox">
			<div class="widgetContent">
			{% for board in boards %}
	    		<a href="/board/{{ board.key().id() }}">{{ board.name }}</a><br/>
	    	{% endfor %}
			</div>
		</div>
		</div>
		</div>
	{% endif %}
	
{% endblock %}

