html,body
{	
	margin: 0px;
	padding:0;
	height:100%;
	font-family: Georgia, serif; 
}
#wrapper
{
	min-height:100%;
	position:relative;
}
#header
{
	width: 100%;
	height: 50px; 
	background-color:#24687F;
}
#headerContent
{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
.button
{
	padding-top:12px;
	color:white;
	text-decoration: none;	
	font-weight:bold;
}
#username
{
	padding-top:12px;
	float:right;
	color:white;
	font-style:italic;
}
#loginButton
{
	float:right;
}
#logoutButton
{
	float:right;
	margin-left:20px;
}
#myPinsButton
{
	float:right;
	margin-right:20px;
}

#footer
{
	position:absolute;
	width: 100%;
	height: 50px; 
	background-color:#404040;
	bottom:0px;
	left:0px;
}

#footer .footer-inner
{
	color:white;
	padding:10px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	text-align: center;
}

#footer .footer-inner a
{
	color: #27c239;
	text-decoration: none;
}

a
{
	color:#24687F;
}


#content
{
	padding:10px;
	padding-bottom:100px;  
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#title
{
	font-size:3em;
	font-weight:bold;
	width:70%;
}

.navHolder
{
	width:30%; 
	position:absolute; 
	right:0px; 
	top:5px;
}

.navigation-items 
{
	list-style: none;
	margin-left:0px;
	float:right;
}

.navigation-items> li 
{
	display: inline;
  	list-style-type: none;
  	padding: 13px 10px 6px 10px;
  //border-right:1px solid #a7a7a9;
 }
.navigation-items> li 
{
	font-size:1.25em;
}
 
#widgetBox
{
	margin-left:auto; 
	margin-right:auto;
	margin-top:30px; 
	width:50%;
	min-width:350px;
	border:1px solid #999;
	//border-radius:5px;
	//-moz-border-radius:3px; /* Firefox 3.6 and earlier */
}

#widgetBox .widgetTitleBox
{
	height:50px;
	background-color:#404040;
	color:white;
}

#widgetBox .widgetTitle
{
	color:white;
	margin-left:10px;
	padding-top:10px;
	font-size:1.5em;
}

#widgetBox .widgetContentBox
{
	min-height:60px;
	padding:20px;
	font-size:1.15em;
	background-color:#EDEAE8;
	color:#404040;
}

.pinBox
{
	margin-left:auto; 
	margin-right:auto;
	margin-top:30px; 
	width:50%;
	min-width:350px;
	min-height:250px;
	height:80%;
	border:1px solid #999;
	background-color:#EDEAE8;
	position:relative;
}

.pin-imageContainer
{
	margin-left:auto; 
	margin-right:auto;
	height:auto;
}

.pin-image
{
	width:80%;
    height: auto;
	margin-left:auto; 
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
}

.pin-captionBox
{
	height:auto;
	min-height:20px;
	width:100%;
	background-color:#404040;	
	//position:absolute;
	//bottom: 0px;
}

.pin-caption
{
	font-size:1.15em;
	padding:10px;
	text-align:center;
	color:white;
}
.pin-date
{
	font-size:.75em;
	padding-right:15px;
	text-align:right;
	color:white;
}

.pinBox-thumbnail
{
	margin-left:auto; 
	margin-right:auto;
	margin-top:30px; 
	width:20%;
	min-width:150px;
	min-height:100px;
	height:80%;
	border:1px solid #999;
	background-color:#EDEAE8;
	position:relative;
}

.pin-thumbnail-imageContainer
{
	margin-left:auto; 
	margin-right:auto;
	height:auto;
}

.pin-thumbnail-image
{
	width:80%;
    height: auto;
	margin-left:auto; 
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
}
.pin-thumbnail-captionBox
{
	height:auto;
	min-height:15px;
	width:100%;
	background-color:#404040;	
	//position:absolute;
	//bottom: 0px;
}

.pin-thumbnail-caption
{
	font-size:1em;
	padding:5px;
	text-align:center;
	color:white;
}
.pin-thumbnail-date
{
	font-size:.6em;
	padding-right:7px;
	text-align:right;
	color:white;
}
